@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

body {
    background : #2B3238;
    /*float: left;*/
    flex: 1;
    /*background-image: url("Scarlett.png");*/
    /*background-image: url("natural.jpg");*/
}

.abc {
	/*background-image: url("natural.jpg");
*/	padding: 100px;
	/*margin: 150px 480px;*/
	/*height: 20px;*/
    /*line-height: 1.6;*/
    display: center;
    border: none;
    border-radius: 6px;
}

h1 {
    /*margin-bottom: 5px;*/
    text-align : center;
    color : white;
    
    font-size: 250%;
}

.button {
	text-align: center;
	background : #2B3238;


	
}

button {
	background-color: #4CAF50;
	border: none;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 16px;
    /*margin: 8px 5px 8px 5px;*/
    margin: 20px 15px;
    cursor: pointer;
	border-radius: 5px;
	width: 250px;

    /*height: 40px;*/
	display: inline-block;
}



/*#bt1 {
    background-color: #4CAF50;
    /*position: center;*/
    /*color: white;*/
    /*padding: 12px 20px;*/
    /*margin: 8px 5px 8px 5px;*/
    /*cursor: pointer;*/
    /*width: 100%;*/
    /*border-radius: 10px;

}*/

